:root {
    --grad1: #355c7d;
    --grad2: #c06c84;
    --grad3: #f8b195;
}

body {
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    //font-family: Arial, Helvetica, sans-serif;
    font-family: Muli; src: url('/assets/fonts/Muli.ttf');
    vertical-align: middle;
    position: relative;
    //box-shadow: 0px 0px 20px 1px #cccccc;
    background-color: #ffffff;
}

@font-face {
  font-family: 'Muli';
  src: url('/assets/fonts/Muli.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('/assets/fonts/Muli.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.headerSVG {
    position: absolute;
    z-index: -1;
    width:100%;
}

#topText, #topImage {display: inline-block; *display: inline; vertical-align: top;}
#topText {width: 49%;text-align:left;vertical-align: top; color: #ffffff /*font-size:1.8vw; */}
#topImage {width: 49%;}

#bottomImage, #bottomText {display: inline-block; *display: inline; vertical-align: top;}
#bottomText {width: 49%;text-align:left;vertical-align: bottom; font-size:1.8vw; }
#bottomImage {width: 49%;}

#bottomText > h4 {
    min-height: 10px;
    padding-bottom: 0%;
    padding-left: 3%;
    color: #000000;
}



.footerHelper{
    width:100%;
    z-index: 2;
    position:absolute;
}

.sineBGBottom {
    //position:relative;
   bottom:0px;
    z-index: -1;
    width:100%;
    margin-bottom: -5px;
}

.helperTextBottom
{
     height:0px;
     top:-20vw;//-20vw;
     position: relative;
}


.topnav {
    margin-left: 4%;
    //margin-right: 4%;
    overflow: hidden;
    //background-color: #355c7d;
    top: 0;
    z-index: 10;
}

section {
    //margin-left: 10%;
    //margin-right: 10%;
}


.bottomfiller
{
    max-width: 1920px;
    margin-left: 0;
    margin-right: 0;
    background-color: #355c7d;
    text-align: center;
    color: #ffffff;
}


.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    //text-shadow: -1px 1px 2px #000,
	//			  1px 1px 2px #000,
	//			  1px -1px 0 #000,
	//			  -1px -1px 0 #000;
}


zzz > a {
  position: relative;
  //color: #000;
  text-decoration: none;
}

zzz > a:hover {
  //color: #000;
}

zzz > a:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 4px;
  left: 10%;
  right: 100%;
  background-color: #fff;
  transition: all 0.3s ease-in-out 0s;
}

zzz > a:hover:before {
  width: 80%;
}


@media screen and (max-width: 316px) {
  .topnav a {
      font-size: 8px;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
      font-size: 8px;
  }
}

@media screen and (max-width: 500px) {
  .topnav a {
      font-size: 12px;
  }

  .main-selection a {
      font-size: 12px;
  }
  .other-selection span{
       font-size: 10px;
  }
  .other-selection p{
      font-size: 10px;
  }
}

@media screen and (min-width: 100px) {
    h1 {
        font-size: 12px;
    }
    h4 {
        font-size: 0px;
    }
}

@media screen and (min-width: 430px) {
    h1 {
        font-size: 18px;
    }
    h4 {
        font-size: 0px;
    }
}

@media screen and (min-width: 650px) {
    h1 {
        font-size: 22px;
    }
    h4 {
        font-size: 10px;
    }
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 28px;
    }
    h4 {
        font-size: 12px;
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 34px;
    }
    h4 {
        font-size: 15px;
    }
}

@media screen and (min-width: 1250px) {
  h1 {
      font-size: 44px;
  }
  h4 {
      font-size: 20px;
  }
  .topnav a {
      font-size: 20px;
  }
  .main-selection a {
      font-size: 18px;
  }
  .other-selection p{
      font-size: 18px;
  }
}



@media (max-width: 400px) { /* For small screen decices */
     *{
       font-size: 12px;
     }
     pre {
      font-size: 11px;
     }
   }

   .floating{
    -webkit-animation-name: Floating;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    //-moz-animation-name: FloatingMoz;
    //-moz-animation-duration: 3s;
    //-moz-animation-iteration-count: infinite;
    //-moz-animation-timing-function: ease-in-out;
}

/*
@-moz-keyframes FloatingMoz{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}*/

@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0, 0%);}
    65% {-webkit-transform:translate(0, 6%);}
    to {-webkit-transform: translate(0, -0%);}
}

.floatModify1{
 -webkit-animation-name: floatModify1;
 -moz-animation-name: floatModify1;
}

@-moz-keyframes floatModify1{
    from {-webkit-transform:translate(0, 0%);}
    65% {-webkit-transform:translate(0, -10%);}
    to {-webkit-transform: translate(0, 0%);}
}

.floatModify2{
 -webkit-animation-name: floatModify2;
 -moz-animation-name: floatModify2;
}

@-moz-keyframes floatModify2{
    from {-webkit-transform:translate(0, -2%);}
    50% {-webkit-transform:translate(0, 12%);}
    to {-webkit-transform: translate(0, -2%);}
}

.floatModify3{
 -webkit-animation-name: floatModify3;
 -moz-animation-name: floatModify3;
}

@-moz-keyframes floatModify3{
    from {-webkit-transform:translate(0, 5%);}
    50% {-webkit-transform:translate(0, -5%);}
    to {-webkit-transform: translate(0, 5%);}
}


.main-selection, .other-selection {
    display: block;  /* Remove bullet points; allow greater control of positioning */
    padding: 0;      /* Override defaults for lists */
    margin: 0;       /* Override defaults for lists */
    width: 100%;     /* Get the row full width */
}

.main-selection a, .other-selection a {
    color: #000000;
}

//.press-logo{
    //text-decoration: none;
    //padding: 15px 40px;
    //border-radius: 4px;
    //font-weight: normal;
//}

.main-selection li {
    width: 25%;            /* Show 4 logos per row */
}

.other-selection li {
    width: 33%;            /* Show 3 logos per row */
}

.main-selection li, .other-selection li {
    display: inline-block; /* Get all images to show in a row */
    text-align: center;    /* Centre align the images */
    padding: 5% 0px;
    transition: all 0.2s ease-in-out;
}


.main-selection li:hover, .other-selection li:hover{
    //box-shadow: 0 5px 15px rgba(0, 0, 0, .4);
    -webkit-filter: drop-shadow(0px 0px 10px rgba(167,16,178,0.5));
}

.divider{
        position: relative;
        width:100%;
        z-index: -1;
}

.bottomHalf{
    background-color: #e6e7e7;
    bottom:0;
}

.goals {
     margin-left: 20%;
     margin-right: 20%;
     //margin-top:10%;
     margin-bottom:5%;
}

.goals p{
    color: #777777;

}

@media (max-width: 960px) and (min-width: 501px) {
    .main-selection li { width: 50%; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
    .goals {
         margin-left: 10%;
         margin-right: 10%;
    }
}

@media (max-width: 500px) {
    .main-selection li { width: 50%; } /* On small screens, show one logo per row */
    .main-selection img {width: 25%;
    }
    .goals {
         margin-left: 0%;
         margin-right: 0%;
    }
}
